#   Batch A1 AI and ML assignment 5_Swathi

## Assignment-5:
Find the RMSE and MSE from the given actual and predicted output 
act_value=[4,-0.9,5,3]
pred_value=[3.8,0,4,2.7,2]

In [9]:
# Importing libraries
from sklearn.metrics import mean_squared_error
from math import sqrt

In [10]:
#Find the RMSE and MSE from the given actual and predicted output 
act_value=[4,-0.9,5,3,2]
pred_value=[3.8,0,4,2.7,2]
m= (mean_squared_error(act_value,pred_value))
n= sqrt(m)
print("Mean Squraed error:",m)
print("Root Mean Squared error:",n)

Mean Squraed error: 0.388
Root Mean Squared error: 0.6228964600958975

## Assignment 6

In [12]:
#imppoerting libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
stu_data = pd.read_csv("students_placement_data.csv")
stu_data.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [25]:
x= stu_data.iloc[:,3:6].values
y= stu_data.iloc[:,6].values